<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="loglayout">[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p %F#L%L [%m]%n</Property>
    </Properties>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="${loglayout}"/>
        </Console>
        <File name="file">
            <PatternLayout pattern="${loglayout}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root>
            <AppenderRef ref="stdout"/>
        </Root>
        <Logger name="com.mercari.solution" level="info" additivity="false">
            <AppenderRef ref="stdout"/>
        </Logger>
    </Loggers>
</Configuration>